@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;900&display=swap');

:root {
    --background: rgb(250, 250, 250);
    --color: rgb(16, 16, 16);
    --color-translucent: rgba(16, 16, 16, 0.5);
    --link: rgb(32, 96, 255);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--background);
    color: var(--color);
}

a {
    color: var(--link);
    text-decoration: none;
}

header {
    background: var(--color);
    color: var(--background);
    text-align: center;
}

header>h1 {
    margin: 0;
    padding: 0.5em;
}

header>h1>a {
    color: var(--background);
    text-decoration: none;
}

nav {
    background: var(--color);
    color: var(--background);
    text-align: center;
    padding: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav>ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    margin: 0;
    padding: 0 1em;
    transition: all 0.25s ease;
}

nav>ul>li>a {
    color: var(--background);
    text-decoration: none;
    transition: all 0.25s ease;
}

nav>ul>li:hover {
    background: var(--background);
}

nav>ul>li:hover>a {
    color: var(--color);
}

main {
    padding-bottom: 2em;
}

@media screen and (max-width: 640px) {
    nav>ul {
        flex-direction: column;
    }

    nav>ul>li>a {
        width: 100%;
        display: inline-block;
    }

    main {
        width: calc(100% - 2em);
        margin: 0 auto;
    }
}

@media screen and (min-width: 640px) {
    nav>ul>li {
        border-radius: .5em .5em 0 0;
    }

    nav>ul>li:hover {
        border-radius: .5em .5em 0 0;
    }

    nav>ul>li:hover>a {
        padding: 0 1em;
    }
}

@media screen and (min-width:640px) and (max-width: 1024px) {
    main {
        width: calc(100% - 8em);
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    nav>ul>li {
        padding: 0 2em;
    }

    main {
        width: calc(100% - 32em);
        margin: 0 auto;
    }
}

.container>h2 {
    display: inline-block;
    Width: 100%;
    margin-bottom: 0;
}

.container>h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--color-translucent);
    margin: 0;
}

.container>.content {
    margin: 0 1em;
}

footer {
    background: var(--color);
    color: var(--background);
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em 0;
    overflow: hidden;
}

footer>#copyright {
    flex: 1;
    text-align: center;
}

footer>#copyright>a {
    color: var(--background);
    padding: 0.1em;
    border-radius: .1em;
    transition: all 0.25s ease;
}

footer>#copyright>a:hover {
    background: var(--background);
    color: var(--color);
}

footer>#links {
    flex: 1;
}

footer>#links>ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer>#links>ul>li {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0 1em;
    transition: all 0.25s ease;
    border-radius: .5em 0 0 .5em;
}

footer>#links>ul>li:hover {
    width: 100%;
    background: var(--background);
}

footer>#links>ul>li>a {
    width: 100%;
    display: inline-block;
    color: var(--background);
    transition: all 0.25s ease;
}

footer>#links>ul>li:hover>a {
    color: var(--color);
}

@media screen and (max-width: 640px) {
    footer {
        flex-direction: column;
    }

    footer>#copyright {
        margin-bottom: 1em;
    }

    footer>#links>ul>li {
        border-radius: 0;
    }
}

.dev::before {
    content: "👨‍💻開発中";
    margin-right: 0.25em;
}

#top-image {
    width: 100vw;
    height: 100vh;
    background: var(--color);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Source Code Pro', monospace;
}

#top-image>h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: calc(100vw/10);
    font-weight: 900;
}

#top-image>span {
    font-size: calc(100vw/30);
    font-weight: 300;
}

#top-image>.scrollme {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    animation: scroll 1s infinite ease-in-out;
}

@keyframes scroll {
    0% {
        transform: translateX(-50%) translateY(0) scale(1.25);
    }

    50% {
        transform: translateX(-50%) translateY(1rem) scale(1);
    }

    100% {
        transform: translateX(-50%) translateY(0) scale(1.25);
    }
}

#top-image>h1:active {
    user-select: none;
    animation: boom 0.125s ease-out;
}

@keyframes boom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

#top-image>.scrollme:hover {
    animation: scroll 1s infinite ease-in-out, rainbow 4s infinite ease-in-out;
    animation-play-state: paused, running;
}

@keyframes rainbow {
    0% {
        color: hsl(0, 100%, 75%);
    }

    15% {
        color: hsl(30, 100%, 75%);
    }

    30% {
        color: hsl(60, 100%, 75%);
    }

    45% {
        color: hsl(120, 100%, 75%);
    }

    60% {
        color: hsl(240, 100%, 75%);
    }

    75% {
        color: hsl(275, 100%, 50%);
    }

    90% {
        color: hsl(274, 100%, 75%);
    }

    100% {
        color: hsl(0, 100%, 75%);
    }
}

.material-symbols-rounded {
    user-select: none;
}

#projects {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

#projects>.project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0.5em;
    border-radius: .5em;
    border: solid 1px var(--color-translucent);
    overflow: hidden;
}

#projects>.project h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}

#projects>.project>a {
    color: var(--color);
    text-decoration: none;
}

#projects>.project>a:hover {
    color: var(--link);
}

#projects>.project img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

#projects>.project>.description {
    margin: 1em;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 640px) {
    #projects>.project {
        min-width: 100%;
        flex: 1;
    }
}

@media screen and (min-width: 640px) {
    #projects>.project {
        min-width: calc(50% - 1em);
        flex: 1;
    }
}